<div class="app    " 

[ngClass]="  darkModeEnabled == false ? '' : ' dark-mode'  "   >
    
<button (click)="switch()" >switch to dark mode</button>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis officia maxime vitae consectetur, asperiores odio reiciendis accusamus facilis, quisquam recusandae, ut praesentium eligendi dicta nobis autem vel quod? Reiciendis, et!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis officia maxime vitae consectetur, asperiores odio reiciendis accusamus facilis, quisquam recusandae, ut praesentium eligendi dicta nobis autem vel quod? Reiciendis, et!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis officia maxime vitae consectetur, asperiores odio reiciendis accusamus facilis, quisquam recusandae, ut praesentium eligendi dicta nobis autem vel quod? Reiciendis, et!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis officia maxime vitae consectetur, asperiores odio reiciendis accusamus facilis, quisquam recusandae, ut praesentium eligendi dicta nobis autem vel quod? Reiciendis, et!
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis officia maxime vitae consectetur, asperiores odio reiciendis accusamus facilis, quisquam recusandae, ut praesentium eligendi dicta nobis autem vel quod? Reiciendis, et!
</p>

</div>